* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  height: 100%;
}

body {
  font-family: 'Outfit', sans-serif;
}

.custom-scrollbar {
  scrollbar-color: #555555 transparent;
  scrollbar-width: 3px;
}

.heart {
  animation: heart 5s linear infinite forwards;
}

@keyframes heart {
  0% {
    color: rgb(249, 168, 168);
  }
  25% {
    color: rgb(249, 248, 168);
  }
  50% {
    color: rgb(168, 249, 196);
  }
  75% {
    color: rgb(168, 219, 249);
  }
  100% {
    color: rgb(249, 168, 202);
  }
}

[data-not] {
  opacity: 0;
  animation: fade-in 2s cubic-bezier(0, 0.9, 0.9, 1) forwards 3s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.carousel {
  @media (width <= 1024px) {
    width: 100%;
  }
}

.markdown {
  & code {
    background-color: rgba(0, 0, 0, 0.25);
    font-family: monospace;
    padding: 4px 8px;
    border-radius: 4px;
  }
}
