@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  src: url('/app/typefaces/outfit-regular-400.woff2') format('woff2');
}

@font-face {
  font-family: 'Outfit';
  font-style: bold;
  font-weight: 700;
  src: url('/app/typefaces/outfit-bold-700.woff2') format('woff2');
}

@font-face {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  src: url('/app/typefaces/yeseva-one.woff2') format('woff2');
}
